.extendMe {
  color: aqua;
}

.class1 {
  color: red;
  color: #c0392b;
}
.class1 h2 {
  font-size: 50px;
  color: blue;
}
@media screen and (max-width: 400px) {
  .class1 h2 {
    font-size: 20px;
  }
}
.class1 h2 .style {
  font-size: 200px;
}
.class1__box {
  height: 100px;
  width: 200px;
  background: blue;
  margin: 20px auto;
  background: red;
}
.class1__box:hover {
  background: black;
}
.class1 p:hover {
  color: black;
}
.class1 p:after {
  content: "this is 10 Hiii";
}

.class2 {
  font-size: 80px;
  font-family: "arial";
}

.class2 {
  opacity: 0.7;
}

/*# sourceMappingURL=sample.css.map */
