
$colors: (
    color1: #bdb2b1,
    color2: #90c1e2,
    color3: red,
);

@function style-variation($style) {
//    @if map-has-key($colors, $style) {
      @return map-get($colors, $style);
//    }

//    @error "Invalid color: '#{$style}'.";
}

.container {
//    background-color: style-variation(color1);
}


@mixin opacity($opacity: 0.1) {
    opacity: $opacity;
}
// @mixin opacity {
//     opacity: 0.1;
// }

%font {
    font : {
        size: 80px;
        family: 'arial'
    }
}
.class2{
    // color: rgb(76, 64, 143);
    color: style-variation(color4);
    @include opacity(0.7);
    @extend %font;
    // font-size: 10px;
    // @include opacity;
}