
// @for $i from 1 through 4 {
//    .p#{$i} { padding-left : $i * 10px; }
// }

// @for $i from 1 to 4 {
//    .p#{$i} { padding-left : $i * 10px; }
// }
// $ar : 1,2,3,4;

// @each $i in $ar {
//     .p#{$i} {
//         padding-left : $i * 10px;
//     }
// }

// @each $i,$background in (1,red),(2,blue),(3,purple),(4,blue) {
//     .p#{$i} { 
//         padding-left : $i * 10px;
//         background: $background;
//         // width: 200px - ($i * 10px );
//     }
// }

// @each $header, $color in (1: red, 2: green, 3: blue) {
//     .p#{$header} {
//        color: $color;
//     }
// }

// $i: 1;
// @while $i < 5 {
//    .p#{5 - $i} { padding-left: 20px * $i; }
//    $i: $i + 1
// }

  