$colors: (
   color1: #c0392b,
   color2: #2980b9,
);
$value: "Hiii";
$color1: red;
.extendMe {
    color: aqua;
}
.class1 {
    color: $color1;
    // @extend .extendMe;
    @debug 1px+2px;
    @warn "Darker: Warning you #{$value } not to use this again and again";
    color: map-get($map: $colors, $key: color1 );
    h2 {
        $changeColor: b;
        font-size: 50px;
        color: if( $changeColor == r, red, blue);
        // font: {
        //     weight: lighter;
        // }
        @media screen and (max-width: 400px) {
            font-size: 20px;    
            @at-root (without: media) {
                .style {
                    font-size: 200px;
                }
            }
        } 
    }
    &__box {
        height: 100px;
        width: 200px;
        background: blue;
        margin: 20px auto;
        &:hover {
            background: black;
        }
        $changeColor: r;
        // color: red;
        @if($changeColor == r) {
            background: red;
        }@else if $changeColor == b {
            background: blue;
        }@else {
            background: aqua;
            // @error "default color"
        }
    }
    p {
        &:hover {
            color: black;
        }
        &:after {
            content: "this is #{8+2} #{$value}"
        }
    }
}
  